* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgb(82, 78, 78);
    background-color: #363543;
}

.boxmain1{
    color: white;
    height: 10vh;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 20vw;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}
.logo span{
    font-size: 17px;
}

.menu {
    width: 45vw;
}

.menu li {
    margin-left: 30px;
    list-style: none;
    display: inline-block ;
}
.menu li a{
    text-decoration: none;font-weight: bold; color: white;
}
.menu li a.linkb{
    color: rgb(141, 134, 134);font-size: 17px;
}

.menu li a:hover{color: white;
    
}

.navicon {
    width: 30vw;
    display: flex;
    justify-content: flex-end;
}

.navicon a {
    margin-left: 30px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.mainbox2 {
    height: 80vh;
    width:90vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.mainbox2-2{
    width:30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box2-1{
    font-size: 50px;
    color: rgb(131, 124, 124);margin-top: 10px;
}

.box2-2 {
    width: 50vw;
    font-size: 80px;
    word-spacing: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
    color: white;
}
.box2-3{ width: 150px; height: 6px;background-color:  rgb(223, 204, 36);margin-bottom:20px;}

.box2-4{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: rgb(141, 134, 134);
}

.picture{
    width: 40vw;
    position: relative;
    z-index: 01;
    border-radius: 50%;
    background: #2b2b37;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.pic img {
    height: 500px;
    width: 450px;
    z-index: 3;
}

.main_text2 {
    width: 35vw;
    margin-left: -60px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
}

.main_text2_l1 {
    font-size: 20px;
    margin: 50px 0;
    margin-bottom: 10px;
    color: white;
}

.main_text2_para {
    font-size: 24px;
    color: white;
    line-height: 30px; 
    text-align: justify;
}

.main_text2_btn {
    color: rgb(223, 204, 36);
    font-weight: bold;
    margin: 30px 0;
    cursor: pointer;
    transition: all ease-in .3s;

}

.main_text2_btn:hover {
    color: rgb(175, 164, 59);
    transition: all ease-in .3s;
}

.main_text2_btn span {
    margin-left: 18px;
    font-size: 20px;
}

.main_text2_icons ul {
    display: flex;
}

.main_text2_icons ul li {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    list-style: none;
    color: rgb(223, 204, 36);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(31, 31, 37);
    transition: ease-in .3s all;
    border-radius: 50%;
}

.main_text2_icons ul li:hover {
    background: rgb(72, 69, 85);
    border: solid 1px;
    transition: ease-in .3s all;
}

.mainbox3 {
    height: 18vh;
    width: 90vw;
    margin: 0 auto;
    background: rgb(46, 45, 59);
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(28, 26, 36, 0.514) 1px 3px 2px, rgba(56, 58, 83, 0.479) 0px -12px 30px, rgba(74, 76, 99, 0.12) 0px 4px 6px, rgba(76, 73, 105, 0.17) 0px 12px 13px, rgba(57, 62, 78, 0.671) 0px -3px 5px;
}

.meta,
.google,
.linkedin,
.slack {
    height: 10vh;
    width: 15vw;
    background: rgb(68, 61, 61);
    background: rgb(35, 34, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.mainbox4{
    height: 100vh;
    color: white;
    margin-top: -10vh;
    padding-top: 12vh;
    background: rgb(33, 32, 43);
}

.page2 {
    height: 80vh;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.page2_box1 {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box1_h1 {
    font-size: 1.8em;
    font-weight: bold;
}

.box1_p1 {
    font-size: 1.2em;
    margin: 30px 0;color: rgb(141, 134, 134);
}

.box1_div4 {
    height: 25vh;
    display: flex;
}

.div1,
.div2 {
    width: 50%;
}

.num {
    color: #dd4600;
    color: rgb(223, 204, 36);
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px 0;
}

.para {
    font-size: 1.2em;color: rgb(141, 134, 134);
}

.page2_cards {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.card1,
.card2,
.card3 {
    height: 15vh;
    padding: 10px;
    border-bottom: 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card1_pic,
.card2_pic,
.card3_pic {
    height: 10vh;
    width: 15%;
    background: #000;
    margin-right: 20px;
    background-position: center;
    background-size: cover;
}


.card1_txt,
.card2_txt,
.card3_txt {
    margin-left: -100px;
}
.hidn{
    color: rgb(141, 134, 134);padding-top: 10px;
}


.boxes{
    height: 20vh;
    display: flex;
    width: 100vw;padding-left: 60px;
}
.boxes1{
    width: 30vw;height:200px;margin-top: -110px;background-color: #363543;
    padding:30px 20px;border-radius: 5px;
}
.spans{
    color:rgb(223, 204, 36);border-radius: 50px;background-color: #000;border: 3px solid  #000;
}
h1{
    color: white;margin:20px 0px;
}
p{
    color: rgb(141, 134, 134);
}
.boxes2{margin: 0px 20px;padding:30px 20px;border-radius: 5px;
    width: 28vw;height:200px;margin-top: -110px;background-color: #363543

}
.boxes3{width: 30vw;height:200px;margin-top: -110px;background-color: #363543;padding:30px 20px;border-radius: 5px;
    


}
